@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 2000px) {
    .main-container{
        display: flex;
        flex-direction: row;
        height: 100vh;
        margin: 0;
        box-sizing: border-box;

        .icon{
            width: 24px;
            height: 24px;
        }

        & > aside {
            padding: 1rem 2rem;
            width: 25%;
            background: #d97b7b;

            & > .head-aside {
                display: flex;
                align-items: center;
                width: 100%;
                height: 5%;
                background: #d7d97b;

                & > .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #4A5568;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                }

                & > .name {
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            & > .body-aside {
                width: 100%;
                height: 77%;
                margin-top: 4rem;
                background: #7bd97b;

            }
            .menu {
                list-style: none;
                padding: 0;
                margin: 0;

                & > li {
                    & > a {
                        text-decoration: none;
                        color: #000000;
                        padding: 10px;
                        display: block;

                        & > .select{
                            color: #729ccc;
                        }
                    }
    
                }
                    
            }

            & > .footer-aside {
                width: 100%;
                flex: flex-end;
                height: 10%;
                background: #47b947;
            }
        } 

        & > .content-body {
            padding: 1rem 2rem;
            width: 75%;
            overflow-y: auto;
            background: #7b7bd9;

            & > .search-bar {
                width: 100%;
                height: 5%;
                background: #d97b7b;
                display: flex;
                align-items: center;
                padding: 10px;

                & > .menu-icon {
                    font-size: 24px;
                    cursor: pointer;
                }

                & > .search-input {
                    flex-grow: 1;
                    border: 1px solid #ddd;
                    outline: none;
                    font-size: 12px;
                    padding: 10px;
                    border-radius: 20px;
                    margin: 0 15px;
                }

                .search-input::placeholder {
                    color: #aaa;
                }
                & > .profile-pic {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center;
                    background-image: url('../images/photos/profile.jpeg')
                }
            }

            & > .content {
                width: 100%;
                height:max-content;
                margin-top: 4rem;
                background: #7bd97b;

                .icon-box{
                    width: 40px;
                    height: 40px;
                    border-radius: 7px;
                    background-color: #4d7eb7;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                }

                .title{
                    gap: 1rem;
                    display: flex;
                    align-items: center;
                    font-size: 1.5rem;
                    font-weight: 600;
                    padding: 0 0 2rem 0;

                    & img{
                        width: 33px;
                        height: 33px;
                    }
                }

                & > .dashboard-section {
                    width: 100%;
                    height: 20rem;
                    background: #47b5b9;

                    & > .dashboard-content{
                        display: flex;
                        gap: 2rem;
                        & > div{
                            flex: 1;
                            height: 13rem;
                            padding: 1rem 0;
                            border-radius: 20px;
                            display: flex;
                            flex-direction: column;
                            gap: 0.8rem;
                            align-items: center;
                            justify-content: center;    

                            & img{
                                width: 40px;
                                height: 40px;
                            }

                            .context{
                                font-size: 1.5rem;
                            }
                            .number{
                                font-size: 3rem;
                            }
                        }
                        .card-1{
                            background-color: #95c7e2;
                        }
                        .card-2{
                            background-color: #cce295;
                        }
                        .card-3{
                            background-color: #b195e2;
                        }
                    }
                }

                & > .recent-activity-section{
                    width: 100%;
                    background: #8ab1fe;

                }

                
            }
            
        }
    }
    
}